Repository thpham/gha-mvn-rflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotless-check, maven-validate

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# See https://pre-commit.com for more information
# Install: pre-commit install && pre-commit install --hook-type commit-msg

repos:
  # =============================================================================
  # Standard pre-commit hooks
  # =============================================================================
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^.*\.md$
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--unsafe']  # Allow custom tags in GitHub Actions
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

  # =============================================================================
  # Dockerfile linting
  # =============================================================================
  - repo: https://github.com/hadolint/hadolint
    rev: v2.14.0
    hooks:
      - id: hadolint-docker
        args:
          - '--ignore=DL3018'  # Allow apk add without version pinning

  # =============================================================================
  # Secret detection
  # =============================================================================
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: |
          (?x)^(
            package-lock\.json|
            \.release-please-manifest\.json
          )$

  # =============================================================================
  # Commit message validation (conventional commits)
  # =============================================================================
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.23.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ['@commitlint/config-conventional']

  # =============================================================================
  # Maven Spotless check (Kotlin formatting via ktlint)
  # =============================================================================
  - repo: local
    hooks:
      - id: spotless-check
        name: Spotless Check (Kotlin formatting)
        entry: mvn spotless:check -q -DskipTests
        language: system
        pass_filenames: false
        files: \.kt$
        types: [file]

      - id: maven-validate
        name: Maven Validate (POM syntax)
        entry: mvn validate -q -DskipTests
        language: system
        pass_filenames: false
        files: pom\.xml$
        types: [file]

fix(ci): use separate config files for branch-specific versioning
  .github/workflows/release.yml
  release-please-config-patch.json
Due: none

fix(ci): use GitHub API to create release branches
  .github/workflows/release.yml
Due: none

fix(release): add Maven staging directory for JReleaser deployment
  .github/workflows/release.yml
  .gitignore
  jreleaser.yml
Due: none

fix(release): correct JReleaser config for Release Please integration
  jreleaser.yml
Due: none

fix(ci): prevent duplicate Docker builds and fix artifact handling
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

fix(release): disable sources/javadoc JAR verification for GitHub Packages
  jreleaser.yml
Due: none

fix(common): add APP_DESCRIPTION constant for consistency
  modules/common/src/main/kotlin/com/example/myproject/common/Constants.kt
Due: spotless-check

fix(docker): move ARG declarations after COPY to preserve layer caching
  modules/api/Dockerfile
Due: none

fix(ci): normalize YAML quoting and update cleanup message
  .github/workflows/ci.yml
Due: none

fix(common): add APP_DESCRIPTION constant for consistency (#78)
  .github/workflows/ci.yml
  modules/api/Dockerfile
  modules/common/src/main/kotlin/com/example/myproject/common/Constants.kt
Due: spotless-check

fix(ci): trigger SNAPSHOT bump on new release branches and warn on backports
  .github/workflows/backport.yml
  .github/workflows/release.yml
Due: none

fix(ci): add actions:write permission and always trigger SNAPSHOT bump
  .github/workflows/release.yml
Due: none

fix(common): add APP_VENDOR constant for consistency
  modules/common/src/main/kotlin/com/example/myproject/common/Constants.kt
Due: spotless-check

fix(api): add explicit @param: annotation target for Kotlin 2.x compatibility
  modules/api/src/main/kotlin/com/example/myproject/api/config/PyroscopeConfig.kt
  modules/api/src/main/kotlin/com/example/myproject/api/controller/HealthController.kt
Due: spotless-check

fix(core): remove unnecessary Elvis operator in HealthService
  modules/core/src/main/kotlin/com/example/myproject/core/service/HealthService.kt
Due: spotless-check

fix(common): add APP_VENDOR constant for consistency (#88)
  modules/api/src/main/kotlin/com/example/myproject/api/config/PyroscopeConfig.kt
  modules/api/src/main/kotlin/com/example/myproject/api/controller/HealthController.kt
  modules/common/src/main/kotlin/com/example/myproject/common/Constants.kt
  modules/core/src/main/kotlin/com/example/myproject/core/service/HealthService.kt
Due: spotless-check

docs(ci): add comprehensive GitHub Actions workflows documentation
  docs/github-actions-workflows.md
Due: none

perf(ci): simplify Maven cache key strategy
  .github/workflows/ci.yml
  .github/workflows/commitlint.yml
  .github/workflows/sonar.yml
Due: none

perf(ci): simplify Maven cache key strategy (#96)
  .github/workflows/ci.yml
  .github/workflows/commitlint.yml
  .github/workflows/sonar.yml
Due: none

refactor(ci): migrate to reusable workflows with security hardening
  .github/workflows/backport.yml
  .github/workflows/ci.yml
  .github/workflows/cleanup-registry.yml
  .github/workflows/commitlint.yml
  .github/workflows/lint-workflows.yml
  .github/workflows/release.yml
  .github/workflows/sonar.yml
  .github/workflows/suggest-backports.yml
Due: none

docs: remove workflow documentation migrated to actions repo
  docs/ghe-cloud-compatibility-report.md
  docs/github-actions-workflows.md
Due: none

fix(workflows): add required permissions for reusable workflows
  .github/workflows/backport.yml
  .github/workflows/ci.yml
  .github/workflows/cleanup-registry.yml
  .github/workflows/commitlint.yml
  .github/workflows/lint-workflows.yml
  .github/workflows/release.yml
  .github/workflows/sonar.yml
  .github/workflows/suggest-backports.yml
Due: none

refactor(ci): migrate to reusable workflows with security hardening (#99)
  .github/workflows/backport.yml
  .github/workflows/ci.yml
  .github/workflows/cleanup-registry.yml
  .github/workflows/commitlint.yml
  .github/workflows/lint-workflows.yml
  .github/workflows/release.yml
  .github/workflows/sonar.yml
  .github/workflows/suggest-backports.yml
  docs/ghe-cloud-compatibility-report.md
  docs/github-actions-workflows.md
Due: none

fix(ci): correct cleanup-registry image-name to use repo name only
  .github/workflows/cleanup-registry.yml
Due: none

feat(common): add BUILD_VERSION constant for build metadata
  modules/common/src/main/kotlin/com/example/myproject/common/Constants.kt
Due: spotless-check

fix(ci,release): specify artifact-path for API JAR only
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

test: validate reusable workflow migration (#101)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  modules/common/src/main/kotlin/com/example/myproject/common/Constants.kt
Due: spotless-check

fix(common): add missing period to kdoc comment
  modules/common/src/main/kotlin/com/example/myproject/common/Constants.kt
Due: spotless-check

fix(common): add missing period to kdoc comment (#104)
  modules/common/src/main/kotlin/com/example/myproject/common/Constants.kt
Due: spotless-check

build(ci): update to renamed reusable workflows
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

refactor(ci): rename cleanup-registry to cleanup-ghcr
  .github/workflows/cleanup-ghcr.yml
Due: none

test: use actions feature branch for security testing
  .github/workflows/ci.yml
  .gitignore
Due: none

chore: trigger CI workflow for security features testing
  modules/api/pom.xml
Due: maven-validate

chore: re-trigger CI after action reference fix
  modules/api/pom.xml
Due: maven-validate

chore: re-trigger CI after Trivy platform fix
  modules/api/pom.xml
Due: maven-validate
