Repository thpham/gha-mvn-rflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotless-check, maven-validate

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# See https://pre-commit.com for more information
# Install: pre-commit install && pre-commit install --hook-type commit-msg

repos:
  # =============================================================================
  # Standard pre-commit hooks
  # =============================================================================
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^.*\.md$
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--unsafe']  # Allow custom tags in GitHub Actions
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

  # =============================================================================
  # Dockerfile linting
  # =============================================================================
  - repo: https://github.com/hadolint/hadolint
    rev: v2.14.0
    hooks:
      - id: hadolint-docker
        args:
          - '--ignore=DL3018'  # Allow apk add without version pinning

  # =============================================================================
  # Secret detection
  # =============================================================================
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: |
          (?x)^(
            package-lock\.json|
            \.release-please-manifest\.json
          )$

  # =============================================================================
  # Commit message validation (conventional commits)
  # =============================================================================
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.23.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ['@commitlint/config-conventional']

  # =============================================================================
  # Maven Spotless check (Kotlin formatting via ktlint)
  # =============================================================================
  - repo: local
    hooks:
      - id: spotless-check
        name: Spotless Check (Kotlin formatting)
        entry: mvn spotless:check -q -DskipTests
        language: system
        pass_filenames: false
        files: \.kt$
        types: [file]

      - id: maven-validate
        name: Maven Validate (POM syntax)
        entry: mvn validate -q -DskipTests
        language: system
        pass_filenames: false
        files: pom\.xml$
        types: [file]

feat: add optional enhancements for code quality and testing
  .github/dependabot.yml
  .github/workflows/sonar.yml
  README.md
  jreleaser.yml
  modules/api/pom.xml
  pom.xml
  sonar-project.properties
Due: maven-validate

ci: harden GitHub Actions workflows with security best practices
  .actrc
  .github/actionlint.yaml
  .github/workflows/backport.yml
  .github/workflows/ci.yml
  .github/workflows/cleanup-registry.yml
  .github/workflows/commitlint.yml
  .github/workflows/lint-workflows.yml
  .github/workflows/release.yml
  .github/workflows/sonar.yml
  .gitignore
  .pre-commit-config.yaml
  .secrets.example
  README.md
Due: none

refactor(ci): rename deploy-preview label to preview-image and add PR cleanup
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci.yml
  .github/workflows/cleanup-registry.yml
  README.md
Due: none

ci: cancel workflow on lint failure to save CI minutes
  .github/workflows/ci.yml
Due: none

perf(docker): optimize image layers for registry storage efficiency
  modules/api/Dockerfile
  modules/api/pom.xml
  modules/api/src/main/resources/layers.xml
Due: maven-validate

perf(ci): use native ARM runners for multi-arch Docker builds
  .github/workflows/ci.yml
  .github/workflows/cleanup-registry.yml
  .github/workflows/release.yml
Due: none

build: enable reproducible builds for Docker layer cache optimization
  pom.xml
Due: maven-validate

ci: skip commitlint for Dependabot PRs
  .github/workflows/commitlint.yml
Due: none

ci: skip SonarQube analysis for Dependabot PRs
  .github/workflows/sonar.yml
Due: none

fix(docker): use UBI 10 base image for ARM64 support
  modules/api/Dockerfile
Due: none

docs: add GitHub repository settings section to README
  README.md
Due: none

fix(ci): simplify zizmor workflow to use built-in SARIF upload
  .github/workflows/lint-workflows.yml
Due: none

fix(ci): bump actionlint to v1.7.10 and add ARM runner label
  .github/actionlint.yaml
  .github/workflows/lint-workflows.yml
Due: none

build(deps): upgrade GitHub Actions and Maven plugins
  .github/workflows/backport.yml
  .github/workflows/ci.yml
  .github/workflows/commitlint.yml
  .github/workflows/lint-workflows.yml
  .github/workflows/release.yml
  .github/workflows/sonar.yml
  pom.xml
Due: maven-validate

fix(ci): skip SonarQube analysis when SONAR_TOKEN is not configured
  .github/workflows/sonar.yml
Due: none

ci: add path filters to CI and SonarQube workflows
  .github/workflows/ci.yml
  .github/workflows/sonar.yml
Due: none

ci: exclude workflow files from CI path filters
  .github/workflows/ci.yml
  .github/workflows/sonar.yml
Due: none

build(deps): upgrade to Spring Boot 4.0.1, Kotlin 2.3.0, and other major deps
  modules/api/Dockerfile
  modules/api/pom.xml
  modules/api/src/test/kotlin/com/example/myproject/api/controller/HealthControllerTest.kt
  pom.xml
Due: spotless-check, maven-validate

build(deps): upgrade to Spring Boot 4.0.1, Kotlin 2.3.0, and other major deps (#19)
  modules/api/Dockerfile
  modules/api/pom.xml
  modules/api/src/test/kotlin/com/example/myproject/api/controller/HealthControllerTest.kt
  pom.xml
Due: spotless-check, maven-validate

fix(ci): update cleanup-registry workflow for snok/container-retention-policy v3
  .github/workflows/cleanup-registry.yml
Due: none

fix(ci): address zizmor security findings
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

fix(ci): add cooldown to dependabot for supply chain security
  .github/dependabot.yml
Due: none

fix(ci): skip PR image cleanup when no images exist
  .github/workflows/cleanup-registry.yml
Due: none

fix(ci): resolve template injection in cleanup-registry workflow
  .github/workflows/cleanup-registry.yml
Due: none

docs: update README with current dependency versions
  README.md
Due: none

feat(dev): add Nix flake with development shell
  .envrc
  .gitignore
  flake.lock
  flake.nix
Due: none

fix(release): reset manifest to generate initial changelog
  .release-please-manifest.json
Due: none

feat(ci): add auto-suggest backport labels for fix/security PRs
  .github/workflows/suggest-backports.yml
  README.md
  commitlint.config.mjs
  release-please-config.json
Due: none

fix(ci): replace broken snok cleanup action with dataaxiom
  .github/workflows/cleanup-registry.yml
  modules/common/src/main/kotlin/com/example/myproject/common/ApiResponse.kt
Due: spotless-check

docs(ci): add GHE Cloud/data residency URL comments to cleanup workflow
  .github/workflows/cleanup-registry.yml
Due: none

docs: add GHE Cloud and data residency compatibility report
  docs/ghe-cloud-compatibility-report.md
Due: none

feat(api): add OpenTelemetry observability for metrics and tracing
  docker-compose.observability.yml
  modules/api/pom.xml
  modules/api/src/main/resources/application.yml
  modules/core/pom.xml
  modules/core/src/main/kotlin/com/example/myproject/core/service/HealthService.kt
  modules/core/src/test/kotlin/com/example/myproject/core/service/HealthServiceTest.kt
  observability/prometheus.yml
  pom.xml
Due: spotless-check, maven-validate

feat(api): add OTLP log export via OpenTelemetry Logback appender
  docker-compose.observability.yml
  modules/api/pom.xml
  modules/api/src/main/resources/application.yml
  modules/api/src/main/resources/logback-spring.xml
  observability/grafana-datasources.yml
  observability/loki-config.yml
Due: maven-validate

feat(observability): replace Jaeger with Grafana Tempo for tracing
  docker-compose.observability.yml
  observability/grafana-datasources.yml
  observability/tempo.yml
Due: none

feat(observability): replace Jaeger/Prometheus with Grafana LGTM stack
  docker-compose.observability.yml
  observability/alloy.config
  observability/grafana-datasources.yml
  observability/mimir.yml
  observability/prometheus.yml
  observability/tempo.yml
Due: none

fix(observability): use standard port 9090 for Mimir
  docker-compose.observability.yml
  observability/alloy.config
  observability/grafana-datasources.yml
  observability/mimir.yml
  observability/tempo.yml
Due: none

chore(observability): upgrade all Grafana stack images to latest
  docker-compose.observability.yml
Due: none

chore(observability): update to latest Grafana stack versions
  docker-compose.observability.yml
Due: none

feat(observability): add Pyroscope continuous profiling
  docker-compose.observability.yml
  modules/api/pom.xml
  modules/api/src/main/kotlin/com/example/myproject/api/config/PyroscopeConfig.kt
  modules/api/src/main/resources/application.yml
  observability/grafana-datasources.yml
  pom.xml
Due: spotless-check, maven-validate

feat(observability): add Grafana dashboards for full observability stack
  docker-compose.observability.yml
  observability/grafana-dashboards.yml
  observability/grafana-dashboards/application-overview.json
  observability/grafana-dashboards/continuous-profiling.json
  observability/grafana-dashboards/jvm-performance.json
  observability/grafana-dashboards/logs-explorer.json
  observability/grafana-dashboards/traces-explorer.json
Due: none
