Repository thpham/gha-mvn-rflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotless-check, maven-validate

spotless-check:
  name: Spotless Check (Kotlin formatting)
  entry: mvn spotless:check -q -DskipTests
  language: system
  pass_filenames: false

maven-validate:
  name: Maven Validate (POM syntax)
  entry: mvn validate -q -DskipTests
  language: system
  pass_filenames: false

test: enable OIDC keyless image signing
  .github/workflows/ci.yml
  modules/api/pom.xml
Due: maven-validate

test: update release workflow for security features testing
  .github/workflows/release.yml
Due: none

chore: update workflow refs to @main and use default security settings
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

test: validate security features from actions feature branch (#117)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  modules/api/pom.xml
Due: maven-validate

feat(packaging): add nfpm configuration for deb/rpm packages
  .github/workflows/release.yml
  jreleaser.yml
  nfpm.yaml
  packaging/application.yml
  packaging/myproject.conf
  packaging/myproject.service
  packaging/scripts/postinstall.sh
  packaging/scripts/postremove.sh
  packaging/scripts/preinstall.sh
  packaging/scripts/preremove.sh
Due: none

fix: create a dummy fix for demo purpose, to backport
  modules/common/src/main/kotlin/com/example/myproject/common/Constants.kt
Due: spotless-check

fix: create a dummy fix for demo purpose, to backport (#126)
  modules/common/src/main/kotlin/com/example/myproject/common/Constants.kt
Due: spotless-check

fix: missing const affecting feature xx
  modules/common/src/main/kotlin/com/example/myproject/common/Constants.kt
Due: spotless-check

fix: missing const affecting feature xx (#133)
  modules/common/src/main/kotlin/com/example/myproject/common/Constants.kt
Due: spotless-check

Path conditions:
  spotless-check: any of: \.kt$
  maven-validate: any of: pom\.xml$
