Repository thpham/gha-mvn-rflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotless-check, maven-validate

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# See https://pre-commit.com for more information
# Install: pre-commit install && pre-commit install --hook-type commit-msg

repos:
  # =============================================================================
  # Standard pre-commit hooks
  # =============================================================================
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^.*\.md$
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--unsafe']  # Allow custom tags in GitHub Actions
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

  # =============================================================================
  # Dockerfile linting
  # =============================================================================
  - repo: https://github.com/hadolint/hadolint
    rev: v2.14.0
    hooks:
      - id: hadolint-docker
        args:
          - '--ignore=DL3018'  # Allow apk add without version pinning

  # =============================================================================
  # Secret detection
  # =============================================================================
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: |
          (?x)^(
            package-lock\.json|
            \.release-please-manifest\.json
          )$

  # =============================================================================
  # Commit message validation (conventional commits)
  # =============================================================================
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.23.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ['@commitlint/config-conventional']

  # =============================================================================
  # Maven Spotless check (Kotlin formatting via ktlint)
  # =============================================================================
  - repo: local
    hooks:
      - id: spotless-check
        name: Spotless Check (Kotlin formatting)
        entry: mvn spotless:check -q -DskipTests
        language: system
        pass_filenames: false
        files: \.kt$
        types: [file]

      - id: maven-validate
        name: Maven Validate (POM syntax)
        entry: mvn validate -q -DskipTests
        language: system
        pass_filenames: false
        files: pom\.xml$
        types: [file]

docs(observability): add comprehensive observability stack documentation
  docs/observability.md
Due: none

docs: add observability as mandatory NFR in README
  README.md
Due: none

feat(observability): fix dashboard issues and add chaos testing endpoint
  README.md
  docs/observability.md
  modules/api/pom.xml
  modules/api/src/main/kotlin/com/example/myproject/api/controller/HealthController.kt
  modules/api/src/main/resources/application.yml
  observability/grafana-dashboards/application-overview.json
  observability/grafana-dashboards/logs-explorer.json
  observability/grafana-datasources.yml
  scripts/generate-traffic.sh
Due: spotless-check, maven-validate

fix(observability): configure trace-to-logs correlation for OTLP logs
  README.md
  docker-compose.observability.yml
  docs/observability.md
  modules/api/pom.xml
  modules/api/src/main/kotlin/com/example/myproject/api/config/OpenTelemetryConfig.kt
  modules/api/src/main/kotlin/com/example/myproject/api/controller/HealthController.kt
  modules/api/src/main/resources/application.yml
  modules/api/src/main/resources/logback-spring.xml
  modules/core/src/main/kotlin/com/example/myproject/core/service/HealthService.kt
  observability/grafana-dashboards/logs-explorer.json
  observability/grafana-dashboards/traces-explorer.json
  observability/grafana-datasources.yml
  observability/loki-config.yml
Due: spotless-check, maven-validate

fix(profiling): configure Pyroscope JFR profiler for macOS ARM64 compatibility
  docker-compose.observability.yml
  modules/api/src/main/kotlin/com/example/myproject/api/config/PyroscopeConfig.kt
  modules/api/src/main/resources/application.yml
  observability/grafana-dashboards/continuous-profiling.json
  pom.xml
Due: spotless-check, maven-validate

feat(observability): add OpenTelemetry observability stack with Grafana LGTM (#26)
  README.md
  docker-compose.observability.yml
  docs/observability.md
  modules/api/pom.xml
  modules/api/src/main/kotlin/com/example/myproject/api/config/OpenTelemetryConfig.kt
  modules/api/src/main/kotlin/com/example/myproject/api/config/PyroscopeConfig.kt
  modules/api/src/main/kotlin/com/example/myproject/api/controller/HealthController.kt
  modules/api/src/main/resources/application.yml
  modules/api/src/main/resources/logback-spring.xml
  modules/core/pom.xml
  modules/core/src/main/kotlin/com/example/myproject/core/service/HealthService.kt
  modules/core/src/test/kotlin/com/example/myproject/core/service/HealthServiceTest.kt
  observability/alloy.config
  observability/grafana-dashboards.yml
  observability/grafana-dashboards/application-overview.json
  observability/grafana-dashboards/continuous-profiling.json
  observability/grafana-dashboards/jvm-performance.json
  observability/grafana-dashboards/logs-explorer.json
  observability/grafana-dashboards/traces-explorer.json
  observability/grafana-datasources.yml
  observability/loki-config.yml
  observability/mimir.yml
  observability/tempo.yml
  pom.xml
  scripts/generate-traffic.sh
Due: spotless-check, maven-validate

feat(api): add /version endpoint for build information
  modules/api/src/main/kotlin/com/example/myproject/api/controller/HealthController.kt
  modules/api/src/main/resources/application.yml
Due: spotless-check

feat(api): add /version endpoint for build information (#30)
  modules/api/src/main/kotlin/com/example/myproject/api/controller/HealthController.kt
  modules/api/src/main/resources/application.yml
Due: spotless-check

feat(ci): auto-create release branches after releases from main
  .github/workflows/release.yml
Due: none

feat(ci): auto-merge SNAPSHOT bump PRs after release
  .github/workflows/release.yml
Due: none

chore(release): simplify tag format by excluding component name
  release-please-config.json
Due: none

fix(api): validate delayMs parameter in chaos endpoint
  modules/api/src/main/kotlin/com/example/myproject/api/controller/HealthController.kt
Due: spotless-check

fix(api): validate delayMs parameter in chaos endpoint (#35)
  modules/api/src/main/kotlin/com/example/myproject/api/controller/HealthController.kt
Due: spotless-check

fix(ci): enable persist-credentials for backport action
  .github/workflows/backport.yml
Due: none

fix(ci): skip backport label suggestions for backport PRs
  .github/workflows/suggest-backports.yml
Due: none

fix(api): validate delayMs parameter in chaos endpoint (#35) (#36)
  modules/api/src/main/kotlin/com/example/myproject/api/controller/HealthController.kt
Due: spotless-check

fix(ci): add target-branch to release-please for patch releases
  .github/workflows/release.yml
Due: none

fix(ci): correct jq filter for release-please labels array
  .github/workflows/release.yml
Due: none

fix(ci): auto-merge SNAPSHOT bump PRs after release
  .github/workflows/release.yml
Due: none

fix(release): update jreleaser.yml for v2.0.0 compatibility
  jreleaser.yml
Due: none

fix(release): update jreleaser.yml for v2.0.0 compatibility (#49)
  jreleaser.yml
Due: none

fix(ci): prevent version collisions between main and release branches
  .github/workflows/release.yml
  .release-please-manifest.json
Due: none

chore: sync CHANGELOG.md with v1.2.1 patch release
  CHANGELOG.md
Due: none

chore(release): clean up duplicate changelog entries for v1.3.0
  CHANGELOG.md
Due: none

fix(ci): add fallback for SNAPSHOT PR auto-merge
  .github/workflows/release.yml
Due: none

fix(ci): prevent duplicate changelog entries and fix template injection
  .github/workflows/release.yml
Due: none

fix(ci): add fallback for SNAPSHOT PR auto-merge (#63)
  .github/workflows/release.yml
Due: none

fix(ci): inject release-please options via config file instead of action inputs
  .github/workflows/release.yml
  .github/workflows/suggest-backports.yml
Due: none

Revert "fix(ci): use jq for safe JSON config injection"
  .github/workflows/backport.yml
  .github/workflows/release.yml
  .github/workflows/suggest-backports.yml
Due: none
